version: "3.9"
services:
  app:
    container_name: TemplateExpressDocker
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/home/code